[submodule "market"]
	path = market
	url = https://github.com/dearkk/market.git
[submodule "apple"]
	path = apple
	url = https://github.com/dearkk/apple.git
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/dearkk/dashboard.git
[submodule "component"]
	path = component
	url = https://github.com/dearkk/component.git
[submodule "grape"]
	path = grape
	url = https://github.com/dearkk/grape.git
